Repository john-d-pelingo/jira-link-issue-action: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0 --report-unused-disable-directives, prettier --write

.lintstagedrc:

{
  "src/**/*.{js,ts}": [
    "eslint --fix --max-warnings 0 --report-unused-disable-directives"
  ],
  "*.{js,ts,tsx,json,yml,yaml,css,html}": [
    "prettier --write"
  ]
}

feat: use a friendlier message body
  .github/workflows/try-action.yml
  README.md
  build/index.js
  src/__tests__/index.test.ts
  src/index.ts
Due: eslint --fix --max-warnings 0 --report-unused-disable-directives, prettier --write

chore(release): 1.0.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat: test
  README.md
Due: none

feat: test 2
  README.md
Due: none

feat: only run on PR creation
  .github/workflows/try-action.yml
  README.md
  src/__tests__/index.test.ts
Due: eslint --fix --max-warnings 0 --report-unused-disable-directives, prettier --write

chore(release): 1.0.3
  CHANGELOG.md
  package.json
Due: prettier --write

feat: changes
  README.md
Due: none

chore: checkout repo before testing
  .github/workflows/try-action.yml
  docs/TODOS.md
Due: prettier --write

Update renovate.json
  renovate.json
Due: prettier --write

chore(deps): update all to ^0.0.14
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-config-prettier to v7
  package.json
  yarn.lock
Due: prettier --write

feat: upgrade major dependencies
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update commitlint monorepo to v12
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update all to ^0.0.16
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update all to ^0.0.17
  package.json
  yarn.lock
Due: prettier --write

feat: downgrade types for octo
  .husky/.gitignore
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to v6
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update all
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency jest to v27
  package.json
  yarn.lock
Due: prettier --write

chore: major dependencies upgrade
  package.json
  src/index.ts
  yarn.lock
Due: eslint --fix --max-warnings 0 --report-unused-disable-directives, prettier --write

chore(deps): update actions/setup-node action to v2.2.0
  .github/workflows/build-master.yml
  .github/workflows/build-pr.yml
Due: prettier --write

chore: change interval
  .github/dependabot.yml
Due: prettier --write

feat: use correct path
  src/__tests__/index.test.ts
  src/index.ts
Due: eslint --fix --max-warnings 0 --report-unused-disable-directives, prettier --write

chore(deps): update codecov/codecov-action action to v1.5.2
  .github/workflows/build-master.yml
Due: prettier --write

feat: new build
  build/index.js
Due: prettier --write

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(deps): update actions/setup-node action to v2.3.0
  .github/workflows/build-master.yml
  .github/workflows/build-pr.yml
Due: prettier --write

chore(deps): update codecov/codecov-action action to v2
  .github/workflows/build-master.yml
Due: prettier --write

chore(deps): update commitlint monorepo to v13
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update actions/setup-node action to v2.4.0
  .github/workflows/build-master.yml
  .github/workflows/build-pr.yml
Due: prettier --write

chore(deps): update dependency @types/jest to v27
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update codecov/codecov-action action to v2.0.3
  .github/workflows/build-master.yml
Due: prettier --write

chore(deps): update all
  .github/workflows/build-master.yml
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade typescript
  package.json
  src/index.ts
  yarn.lock
Due: eslint --fix --max-warnings 0 --report-unused-disable-directives, prettier --write

chore(release): 1.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update README
  README.md
  build/index.js
Due: prettier --write

chore(release): 1.1.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore(deps): update actions/setup-node action to v2.4.1
  .github/workflows/build-master.yml
  .github/workflows/build-pr.yml
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update commitlint monorepo to v15
  package.json
  yarn.lock
Due: prettier --write
