Repository john-d-pelingo/jira-link-issue-action: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.{js,ts}": [
    "eslint --fix"
  ],
  "*.{js,ts,tsx,json,yml,yaml,css,html}": [
    "prettier --write"
  ]
}

feat: change names
  README.md
  package.json
Due: prettier --write

feat: test action
  .github/workflows/test.yml
  .gitignore
  action.yml
  build/index.js
  build/index.js.map
Due: prettier --write

feat: test
  README.md
Due: none

fix: use correct owner
  .github/workflows/test.yml
Due: prettier --write

chore: fix test action
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: prettier --write

chore(release): 0.0.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore: find out branch name
  .github/workflows/test.yml
  build/index.js
  build/index.js.map
  package.json
  src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: test v0.0.3
  .github/workflows/test.yml
Due: prettier --write

chore(release): 0.0.3
  CHANGELOG.md
  package.json
Due: prettier --write

chore: test out v0.0.4
  .github/workflows/test.yml
  action.yml
  build/index.js
  build/index.js.map
  package.json
  yarn.lock
Due: prettier --write

chore(release): 0.0.4
  CHANGELOG.md
  package.json
Due: prettier --write

chore: test v0.0.5
  action.yml
Due: prettier --write

chore(release): 0.0.5
  CHANGELOG.md
  package.json
Due: prettier --write

fix: use 0.0.5
  .github/workflows/test.yml
Due: prettier --write

feat: format everything
  .prettierignore
  README.md
Due: none

feat: create a comment
  .github/workflows/test.yml
  .lintstagedrc
  src/index.ts
Due: eslint --fix, prettier --write

feat: build
  build/index.js
Due: prettier --write

chore(release): 0.0.6
  CHANGELOG.md
  package.json
Due: prettier --write

feat: provide github token
  .github/workflows/test.yml
  action.yml
  build/index.js
  docs/TODOS.md
  src/index.ts
Due: eslint --fix, prettier --write

chore(release): 0.0.7
  CHANGELOG.md
  package.json
Due: prettier --write

feat: use pr issue number first
  .github/workflows/test.yml
  build/index.js
  src/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore(release): 0.0.8
  CHANGELOG.md
  package.json
Due: prettier --write

feat: format everything (#5)
  .prettierignore
  README.md
Due: none

chore: code changes
  src/index.ts
Due: eslint --fix, prettier --write

feat: add initial test
  .eslintrc.js
  .prettierignore
  build/index.js
  docs/TODOS.md
  jest.config.js
  package.json
  src/__tests__/index.test.ts
  src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: add bad path tests
  README.md
  build/index.js
  docs/TODOS.md
  src/__tests__/index.test.ts
  src/index.ts
Due: eslint --fix, prettier --write

feat: add happy test
  .prettierignore
  docs/TODOS.md
  src/__tests__/index.test.ts
Due: eslint --fix, prettier --write

feat: add build for PR
  .github/workflows/build-pr.yml
  docs/TODOS.md
  package.json
Due: prettier --write

bug: introduce bug
  src/__tests__/index.test.ts
Due: eslint --fix, prettier --write

feat: checkout code
  .github/workflows/build-pr.yml
Due: prettier --write

bug: more bugs
  src/__tests__/index.test.ts
Due: eslint --fix, prettier --write

feat: remove test action
  .github/test.yml
Due: prettier --write

feat: checkout repo
  .github/workflows/build-pr.yml
Due: prettier --write

feat: add test back
  .github/workflows/test.yml
Due: prettier --write

feat: build master
  .github/workflows/build-master.yml
  .github/workflows/build-pr.yml
  docs/TODOS.md
  package.json
Due: prettier --write

feat: create coverage report
  package.json
Due: prettier --write

feat: add codecov badge
  .github/workflows/test.yml
  README.md
  docs/TODOS.md
Due: prettier --write

feat: build at release
  .github/workflows/test.yml
  docs/TODOS.md
  package.json
Due: prettier --write

chore(release): 1.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add better documentation
  .github/workflows/try-action.yml
  README.md
  action.yml
Due: prettier --write
